@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  color: #000;
}
header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.left {
    width: 35%;
    height: 100%;
    background-color: #e5e5cb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    width: 65%;
    height: 100%;
    background-color: #1a120b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left .content {
    width: 75%;
    height: auto;
    border: 2px solid #1a120b;
    padding: 25px;
}
.left .content form .card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
.left .content form .card label {
    font-size: 14px;
    font-weight: 500;
}
.left .content form .card input {
    width: 100%;
    padding: 6px 10px;
    margin-top: 5px;
}
.left .content form .submit {
    margin-top: 30px;
    padding: 8px 30px;
    color: #e5e5cb;
    background-color: #1a120b;
    border: none;
    width: 100%;
    cursor: pointer;
}
.left .content form .checkbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.left .content form .checkbox span {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 13px;
}
.left .content form p {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}
.right img {
    width: 950px;
}
.right h3 {
    background-color: #d5cea3;
    color: #1a120b;
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    font-size: 13px;
    display: none;
}
